* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .container {
    position: relative;
    width: 1298px;
    max-width: 100%;
    height: calc(100vh - 40px);
    background: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.06);
    display: flex;
  }
  
  .container .leftSide {
    position: relative;
    flex: 30%;
    background: #fff;
  }
  
  .container .rightSide {
    position: relative;
    flex: 70%;
    background: transparent;
  }
  
  .container .rightSide::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  /* Add these styles for the left sidebar */
  .leftSidebar {
    position: relative;
    width: 250px;
    background: #ECEFF0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    margin-top: 60px;
    height: calc(100vh - 90px);
  }
  
  .leftSidebar  hr {
    margin-top: -15px;
  }
  
  
  hr {
    border: none; /* Remove the default border */
    border-top: 3px double #000; /* Set the top border to double, 3px wide, and black color */
    margin-bottom: 20px;
    height: 3px;
    border-width: 0;
    color: #C7C4C4;
    background-color: #C7C4C4;
    width: 100%
  }
  
  .sidebarIcons {
    list-style: none;
    padding: 0;
  }
  
  .sidebarIcons li {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    margin-top: 40px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .sidebarIcons li.active {
    background-color: #216AD8;
    border-radius: 10px;
    width: 150px; 
    padding: 10px;
    height: 40px;
    color: white;
    
    
  }
  
  .sidebarIcons li.active ion-icon {
    color: white;
    
  }
  
  .sidebarIcons ion-icon {
    font-size: 2em;
    color: #51585c;
    margin-right: 15px;
  }
  
  /* Adjust the styles for the chat list to accommodate the sidebar */
  .chatlist {
    position: relative;
    height: calc(100% - 170px); /* Adjusted height to account for the sidebar */
    overflow: auto;
  }
  
  /* Adjust the styles for the chat_input to account for the sidebar */
  .chat_input {
    position: relative;
    width: 100%;
    height: 60px;
    background: #f0f0f0;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 75px; /* Adjusted padding to account for the sidebar width */
  }
  
  
  .header {
    position: relative;
    width: 100%;
    max-width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    background: #fff;
    align-items: center;
    padding: 0 15px;
    
  }
  
  
  .headerChat {
    position: absolute;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    background: #216AD8;
    align-items: center;
    padding: 0 15px;
    left: 0;
    margin-bottom: 25px;
    border-radius: 20px 20px 0 0;
  
  }
  
  
  .bottom-div {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #2269D8; 
    color: white; 
    text-align: center; 
    padding: 10px; 
    border-radius: 0 0 20px 20px;
  }
  
  .headerChat .imgText {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .headerChat .imgText h4 {
    font-weight: 500;
    line-height: 1em;
    margin-left: 19px;
    color: white;
    margin-top: 5px;
    font-size: 20px;
  }
  
  .headerChat .imgText h4 span {
    font-size: 12px;
    color: white;
  }
  
  .headerChat .nav_icons  li{
    color: white;
    right: 10px;
  }
  
  
  .headerChat .userimg {
    border: 2px solid white;
    left: 10px;
  }
  
  .headerLeft {
    position: relative;
    width: 200%;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    left: -135px;
  }
  
  .userimg {
    position: relative;
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    right: 15px;
    cursor: pointer;
    border: 2px solid #216AD8;
  }
  
  .userimage  {
      position: relative;
      width: 70px;
      height: 70px;
      overflow: hidden;
      cursor: pointer;
      right: 20px;
      
    }
    
  
  
  .cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .nav_icons {
    display: flex;
    margin-left: 50%;
  }
  
  .nav_icons li {
    display: flex;
    list-style: none;
    cursor: pointer;
    color: #51585c;
    font-size: 1.5em;
    margin-left: 18px;
  }
  
  .search_chat {
    position: relative;
    width: 100%;
    height: 50px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
  }
  
  .search_chat div {
    width: 100%;
  }
  
  .search_chat div input {
    width: 100%;
    outline: none;
    border: none;
    background: #ECEFF0;
    padding: 6px;
    height: 40px;
    border-radius: 10px;
    font-size: 14px;
    padding-left: 40px;
  }
  
  .search_chat div input::placeholder {
    color: #bbb;
  }
  
  .search_chat div ion-icon {
    position: absolute;
    left: 30px;
    top: 14px;
    font-size: 1.2em;
  }
  
  .chatlist {
    position: relative;
    height: calc(100% - 110px);
    overflow: auto;
  }
  
  .chatlist .block {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
    cursor: pointer;
  }
  
  .chatlist .block.active {
    background: #ECEFF0;
    border-radius: 10px;
    margin: 0 5px;
    width: 97%;
  
  
  }
  
  .chatlist .block:hover {
    background: #f5f5f5;
  }
  
  .chatlist .block .imgBox {
    position: relative;
    min-width: 45px;
    height: 45px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 10px;
    border: 2px solid #216AD8;
  }
  
  .chatlist .block .details {
    position: relative;
    width: 100%;
  }
  
  .chatlist .block .details .listHead {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }
  
  .chatlist .block .details .listHead h4 {
    font-size: 1.1em;
    font-weight: 600;
    color: #111;
  }
  
  .chatlist .block .details .listHead .time {
    font-size: 0.75em;
    color: #aaa;
  }
  
  .chatlist .block .details .listHead .time {
    color: #111;
  }
  
  .chatlist .block.unread .details .listHead .time {
    color: #06d755;
  }
  
  .message_p {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .message_p b {
    background: #06d755;
    color: #fff;
    min-width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75rem;
  }
  
  .message_p p {
    color: #aaa;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    font-size: 0.9em;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .imgText {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .imgText h4 {
    font-weight: 500;
    line-height: 1.2em;
    margin-right: 25px;
    color: #216AD8;
  }
  
  .imgText h4 span {
    font-size: 0.8em;
    color: #555;
  }
  
  /* CHAT BOX */
  .chatbox {
    position: relative;
    width: 100%;
    height: calc(100% - 120px);
    padding: 0 50px;
    overflow-y: auto;
    background-color: #ECEFF0;
  }
  
  .message {
    position: relative;
    display: flex;
    width: 100%;
    margin: 15px 0;
  }
  
  .message .messageDown {
    margin-top: 70px;
  }
  
  .message p {
    position: relative;
    right: 0;
    text-align: right;
    max-width: 65%;
    padding: 12px;
    background: #CFDCEF;
    border-radius: 10px;
    font-size: 0.9em;
  }
  
  .message p::before {
    content: "";
    position: absolute;
    top: 0;
    right: -12px;
    width: 20px;
    height: 20px;
    background: linear-gradient(
      135deg,
      #CFDCEF 0%,
      #CFDCEF 50%,
      transparent 50%,
      transparent
    );
  }
  
  .message p span {
    display: block;
    margin-top: 5px;
    font-size: 0.85em;
    opacity: 0.5;
  }
  
  .my_msg {
    justify-content: flex-end;
  }
  
  .friend_msg {
    justify-content: flex-start;
  }
  
  .friend_msg p {
    background: #fff;
    text-align: left;
  }
  
  .message.friend_msg p::before {
    content: "";
    position: absolute;
    top: 0;
    left: -12px;
    width: 20px;
    height: 20px;
    background: linear-gradient(
      225deg,
      #fff 0%,
      #fff 50%,
      transparent 50%,
      transparent
    );
  }
  
  .chat_input {
    position: relative;
    width: 100%;
    height: 60px;
    background: #216AD8;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom-left-radius: 20px; /* Apply border radius to the bottom-left corner */
    border-bottom-right-radius: 20px; /* Apply border radius to the bottom-right corner */
  }
  
  .chat_input ion-icon {
    cursor: pointer;
    font-size: 1.8em;
    color: white;
  }
  
  .chat_input ion-icon:nth-child(1) {
    margin-right: 15px;
  }
  
  .chat_input input {
    position: relative;
    width: 90%;
    margin: 0 20px;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 30px;
    font-size: 1em;
    color: white;
    
  }
  

  .transparent-bg {
    background-color: transparent; 
    border: none; 
    outline: none;
    flex-grow: 1; 
    font-size: 16px; 
    color: white;
  }
  
  /* Add styling for the icons if needed */
  