@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:wght@100;200;400;700&family=Roboto:ital,wght@0,100;0,400;0,700;1,100&display=swap');


:root {
    --white: #fff;
    --Black-txt-bg-dark-mode: #1E2627;
    --black: #272A2E;
    --black-dark-mode: #000;
    --yellow-btn: #F1FB83;
    --yellow-light-txt-bg-dark-mode: #525D42;
    --blue: #0069D4;
    --grey-dark-txt-bg-dark-mode: #646765;
    --grey-light-bg-hover-light-mode: #ECEFEE;
    --grey-light-navs-dark-mode: #272A30;
    --blue-light-txt-bg-light-mode: #CFDEEB;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5em 3em;
    border-bottom: 1px solid var(--grey-light-bg-hover-light-mode);
}

header .logo {
    width: 150px;
}

.switch-mode-light, .icons, .user {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icons {
    /* margin-right: 3em; */
    justify-content: space-evenly;
}

.switch-mode-light .icons > i {
    margin-left: 1.2em;
    color: var(--blue);

}

#menu {
    transform: scale(2);
    display: none;
}

.switch-light {
    width: 50px;
    border: 1px solid var(--blue);
    border-radius: 1em;
    overflow: hidden;
    transform: scale(.6);
    /* margin-right: .2em; */
}

.switch-light .icon {
    background: var(--blue);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.switch-light .icon i {
    color: var(--white);
}

.info {
    text-align: right;
    margin-right: 1em;
}

.switch-mode-light .user .info h3 {
    color: var(--blue);
}

.switch-mode-light .user .info p {
    color: var(--grey-dark-txt-bg-dark-mode);
}

.switch-mode-light .user .pic {
    width: 60px;
    height: 60px;
    border: 2px solid var(--blue);
    border-radius: 50%;
    overflow: hidden;
    display: grid;
    place-content: center;

}

.user {
    margin-left: 3em;
}

.user img {
    width: 100%;
}

/* ============main=========== */
main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    height: 89vh;
}

.main-light .trash-nav {
    display: flex;
    flex-direction: column;
    background: var(--grey-light-bg-hover-light-mode);
    position: relative;
    grid-column: span 2;
    /* width: 250px; */
}

.main-light .trash-nav a {
    text-decoration: none;
    color: var(--black);
    padding: .5em 1.5em;
    transition: .3s;
}

.main-light .trash-nav a:hover {
    background: var(--blue);
    color: var(--white);
}

.main-light .trash-nav a i {
    margin-right: .5em;
}

.main-light .trash-nav p {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: var(--white);
    background: var(--blue);
    text-align: center;
    padding: 1em;
}

.main-light .chat-nav {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    height: 100%;
    flex: 1;
    padding: 1em;
    grid-column: span 10;
    gap: 20px;
}

.main-light nav {
    grid-column: span 3;
}

.card, .card .item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card .item {
    justify-content: flex-start !important;
}

.card .item .info {
    text-align: left;
}

.card .user {
    margin-left: .5em !important;
    font-size: 12px;
}

.card .time {
    font-size: 12px;
}

.card .pic {
    width: 50px;
    height: 50px;
    border: 2px solid var(--blue);
    border-radius: 50%;
    overflow: hidden;
    display: grid;
    place-content: center;

}

.card .user {
    margin-left: 3em;
}

.card .pic img {
    width: 100%;
}

.main-light .card {
    padding: 1em;
    cursor: pointer;
}

.main-light .contacts .card:hover {
    background: var(--grey-light-bg-hover-light-mode);
    border-radius: .5em;
}

.main-light form {
    display: flex;
    align-items: center;
    width: 100%;
    background: var(--grey-light-bg-hover-light-mode);
    border-radius: .5em;
    margin-bottom: 1em;
}

.main-light form i {
    padding-left: 1em;
}


.main-light input {
    background: inherit;
    border: none;
    outline: none;
    padding: 1em;
}

.main-light .chat-box {
    grid-column: span 7;
    display: grid;
    grid-template-rows: 82px auto 80px;
}

.main-light .chat-box .chat-head {
    background: var(--blue);
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    color: var(--white);
}

.main-light #chat .pic {
    border-color: var(--white);
}

.chat-head .fa-ellipsis-vertical {
    font-size: 25px;
}

.main-light .chat-box .chat-msg {
    background: var(--blue);
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-light .chat-msg form {
    background: var(--blue);
    width: 95%;
    margin: 0 auto;

}

.chat-msg form input {
    width: 90%;
    border-radius: .5em;
    margin-right: 1em;
}

.main-light .chat-msg button {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    border: none;
    display: grid;
    /* align-items: center;
    justify-content: center; */
    place-content: center;
}

.chat-msg button i {
    font-size: 20px;
    position: relative;
    left: -50%;
    transform: translateX(25%);
}

.main-light .chat-msg input {
    background: var(--grey-light-bg-hover-light-mode);
}

.main-light .chat-body {
    background: var(--grey-light-bg-hover-light-mode);
}

@media screen and (max-width: 760px) {
    header {
        padding: 1em;
    }

    header .logo {
        width: 100px;
    }

    #menu {
        display: block;
    }

    header .user {
        display: none;
    }
}